body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, Helvetica,
    "Helvetica Neue", "Roboto", sans-serif;
  background: #ffffff;
  margin: 0px;
}

/* HEADER */

.uxtoggle_switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 44px;
border-radius: 30px;
}

.uxtoggle_switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
border-radius: 30px;

border: 3px solid white;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 40px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
border-radius: 30px;
}

input:checked + .slider {
  border-color: #9A9A9A;
}

input:checked + .slider:before {
  -webkit-transform: translateX(46);
  -ms-transform: translateX(46px);
  transform: translateX(46px);
background-color: #9a9a9a;
}


.header {
  display: flex;
  align-items: center;
  padding: 20px auto;
position: fixed;
width: 100%; top: 0px;
z-index: 1000;

}

.header__logo-container {
}

.header__logo-image {
margin-top: 10px;
  max-width: 100%;
  height: auto;
}

.rwBad {
  background: linear-gradient(180deg, #3E2CB3 27.8%, #54005B 100%); min-height: 100vh;  }

.rwGood { background: white; }

.rwBad .header__button { width: 97px;
height: 34px;
background: linear-gradient(180deg, #3E2CB3 27.8%, #54005B 100%), #008ED4;
border-radius: 4px;
font-family: Proxima Nova;
font-size: 16px;
line-height: 34px;
letter-spacing: 0.05em; color: white; text-align: center; position: absolute; right: 50px; }

.rwBad .main { position: relative; width: 100%; margin: auto; text-align: center; margin-top: 14vh; }

.rwBad .main figure { display: inline-block; margin: 0px; }

.rwBad .main__welcome img { width: 250px; position: relative; top: 15px; }
.rwBad .main__to img { width: 45px; position: relative; top: -20px; margin-left: 10px; }
.rwBad .main__UXS img { width: 420px; margin-left: -40px; }

.rwBad .subtitle__marquee {
 overflow: hidden;
 position: relative;
width: 60%; margin: auto;
margin-top: 3vh; margin-bottom: 4vh;
}
.rwBad .subtitle { font-family: Passion One;
font-size: 25px;
line-height: 28px;
text-align: center;
color: #F6C468;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);
 transform:translateX(100%);
 /* Apply animation to this element */
 -moz-animation: marq 15s linear infinite;
 -webkit-animation: marq 15s linear infinite;
 animation: marq 15s linear infinite;
}

@-moz-keyframes marq {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes example2 {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes marq {
 0%   {
 -moz-transform: translateX(100%); /* Firefox bug fix */
 -webkit-transform: translateX(100%); /* Firefox bug fix */
 transform: translateX(100%);
 }
 100% {
 -moz-transform: translateX(-100%); /* Firefox bug fix */
 -webkit-transform: translateX(-100%); /* Firefox bug fix */
 transform: translateX(-100%);
 }
}

.rwBad .subtitle_2 { font-family: PT Serif;
font-size: 19px;
line-height: 33px;
text-align: center;
color: #ED4F3E;
width: 90%; margin: auto; }


.rwBad .subtitle_3 { font-family: PT Serif;
font-size: 14px;
line-height: 40px;
color: #008ED4;
margin: auto; width: 60%; margin-top: 3vh; }

.rwBad .subtitle_3 span { font-size: 48px; }

.uxtoggle { width: 80%; margin: auto; text-align: center; margin-top: 6vh; }

.rwBad .main figure span { display: none; }

.uxtoggle_main { display: flex;align-items: center; justify-content: center; }

.rwBad .uxtoggle_bad { font-family: PT Serif;
font-style: normal;
font-weight: normal;
font-size: 31.25px;
line-height: 41px;
color: #ED4F3E; margin-right: 25px; }

.rwBad .uxtoggle_good { font-family: PT Serif;
font-style: normal;
font-weight: normal;
font-size: 31.25px;
line-height: 41px;
color: #0A910F; margin-left: 20px; }

.rwBad .uxtoggle_note { font-family: Passion One;
font-size: 20px;
line-height: 14px;
color: #FFFFFF; width: 150px; text-align: left; margin: auto; margin-top: 15px; position: relative; left: 100px; }

.rwBad .uxtoggle_note img { display: block; margin-bottom: 15px; }

.rwBad .rwGood__main { display: none; }

/*** images ***/

.illus_main1 { position: absolute; top: 15vh; left: 5vw; }
.illus_main2 { position: absolute; top: 65vh; right: 5vw; }
.rwBad .illus_main1 { background: url("./assets/badUX_1.gif"); width: 250px; height: 240px; background-size: 250px; }
.rwBad .illus_main2 { width: 300px; height: 280px; background-size: 300px; background: url("./assets/badUX_2.gif"); }
.rwGood .illus_main1 { background: url("./assets/illus_main1.png"); width: 224px; height: 202px; }
.rwGood .illus_main2 { background: url("./assets/illus_main2.png"); width: 551px; height: 380px; }
.decor_tagline1 { position: absolute; top: -75px; left: 50px;  }
.decor_deptPre { position: absolute; top: -100px; right: 80px; }
.decor_dept1 { position: absolute; bottom: -35px; left: 50px; }
.decor_dept2 { position: absolute; bottom: -65px; right: 50px; }

/*** GOOD UX ***/

.rwGood { height: 100%; background: white; }
.rwGood .header { background: rgba(255,255,255,0.8); padding-bottom: 5px; }

.rwGood .header__button { width: 97px;
height: 34px;
background: linear-gradient(180deg, #3E2CB3 27.8%, #54005B 100%), #008ED4;
border-radius: 4px;
font-family: Proxima Nova;
font-size: 16px;
line-height: 34px;
letter-spacing: 0.05em; color: white; text-align: center; position: absolute; right: 50px; }

.rwGood .main { position: relative; width: 100%; margin: auto; text-align: center; margin-top: 20vh; }

.rwGood .main img { display: none; }
.rwGood .main figure { display: inline-block; margin: 0px 0px 0px 12px; font: 600 48px/48px Proxima Nova; color: #54005B; }
.rwGood .main__UXS span { background: linear-gradient(to right, red, orange, yellow, cyan, blue, violet); /* Standard syntax (must be last) */ -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
-moz-background-clip: text;
  -moz-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent; }
.rwGood .subtitle__marquee { margin: auto; width: 80%; text-align: center; }
.rwGood .subtitle { text-align: center; font: 25px/25px Proxima Nova; color: #909090; margin-top: 9vh; }

.rwGood .subtitle_2 { color: #909090; text-align: center; font: 25px/40px Proxima Nova; width: 70%; margin: auto; margin-top: 5.5vh;
}

.rwGood .subtitle_2 a { color: #909090; text-decoration: none; }

.rwGood .subtitle_3 { text-align: center; font: 20px/35px Proxima Nova; color: #909090;
margin: auto; width: 60%; margin-top: 5.5vh;
}


.rwGood .uxtoggle { margin-top: 7vh; }

.rwGood .uxtoggle_bad { font-family: Proxima Nova;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 41px;
color: #ED4F3E; margin-right: 25px;
}

.rwGood .uxtoggle_good { font-family: Proxima Nova;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 41px;
color: #0A910F; margin-left: 20px;
}

.rwGood .uxtoggle_note { display: none; }

.rwG__tagline { background: #fbfbfb; width: 100%; margin-top: 20vh; text-align: center;  }
.rwG__tagline-blurb { padding: 150px 100px 50px 100px; color: #4f4f4f; font-family: Proxima Nova;
font-size: 25px;
line-height: 40px;
text-align: center;}
.rwG__tagline-blurb span { color: #54005B; }

.rwG__tagline-main { padding: 0px 100px 150px 100px; color: #4f4f4f; font-family: Proxima Nova;
font-size: 31.25px;
line-height: 40px; }

.rwG__tagline-main b div { display: inline-block; }

#rwG__tagline-main-anim { width: 135px; height: 32px; overflow: hidden; text-align: left; position: relative; top: 1px; }


#rwG__tagline-main-Good { color: #0A910F;
  animation: typewriter 4s steps(44) 1s 1 normal both,
 blinkTextCursor 500ms steps(44) 12 normal;
border-right: 2px solid rgba(255,255,255,.75);
width: 0px;
    white-space: nowrap;
    overflow: hidden;
}
@keyframes typewriter{
  from{width: 140px;}
  to{width: 0px;}
}
@keyframes blinkTextCursor{
  from{border-right-color: #a3a3a3;}
  to{border-right-color: transparent;}
}

#rwG__tagline-main-Better { color: #54005B;
border-right: 2px solid rgba(255,255,255,.75);
width: 90px; white-space: nowrap; overflow: hidden;
animation: typeback 4s steps(44) 6s 1 normal both, blinkTextCursor 500ms steps(44) 6s 8 normal; }

@keyframes typeback {
  from{width: 0px;}
  to{width: 90px;}
}

.rwG__miscon { text-align: center; padding: 20vh 0; position: relative; }
.rwG__miscon-blurb { font-family: Proxima Nova;
font-size: 25px;
line-height: 40px;
/* or 160% */
text-align: center;
color: #909090; width: 60%; margin: auto; }

.rwG__miscon-toggle { display: flex;align-items: center; justify-content: center; margin-top: 6vh; }

.rwG__miscon-toggleMis{ font-family: Proxima Nova;
font-size: 25px;
line-height: 28px;
/* identical to box height */
color: #ED4F3E; margin-right: 25px; }

.rwG__miscon-toggleTest { font-family: Proxima Nova;
font-size: 25px;
line-height: 28px;
/* identical to box height */
color: #0A910F; margin-left: 25px; }

.rwG__miscon-toggleSwitch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 44px;
border-radius: 30px;
}

.rwG__miscon-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.rwG__miscon-toggle .slider { border-color: #9a9a9a; }
.rwG__miscon-toggle .slider:before { background-color: #9a9a9a; }
.rwG__testimonials { opacity: 0; position: absolute; transition: 0.5s all ease-in-out; display: block; padding: 0px; width: 1000px; background: white; margin: auto; left: -468px; top: 60px; }

.rwG__miscon-toggle input:checked ~ .rwG__testimonials { z-index: 5; opacity: 1;  }

.rwG__mt-block { text-align: left; margin-top: 70px; display: flex; justify-content: center; align-items: center; }
.rwG__mt-block:nth-child(2) { text-align: right; }
.rwG__mt-block:nth-child(2) .rwG__mt-block-img { text-align: left; }

.rwG__mt-block-img { text-align: right; width: 40%; }
.rwG__mt-block-img img { max-width: 100%; }
.rwG__mt-block-text {  width: 60%; }
.rwG__mt-block-text h1 { margin: 0px; font-family: Proxima Nova;
font-size: 14px;
line-height: 35px;
letter-spacing: 0.1em;
color: #ED4F3E; }
.rwG__mt-block-text h2 { margin: 0px; font-family: Proxima Nova;
font-size: 20px;
line-height: 35px;
letter-spacing: 0.05em;
color: #4F4F4F; }
.rwG__mt-block-text h3 { margin: 0px; font-family: Proxima Nova;
font-size: 12px;
line-height: 35px;
letter-spacing: 0.05em;
color: #A3A3A3; }
.rwG__mt-block-text p { margin: 0px;font-family: Proxima Nova;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.05em; color: #4f4f4f; }

.rwG__misconceptions { padding: 0px; padding-top: 16px; width: 1000px; margin: auto; padding-bottom: 5em; }

.rwG__testimonials h1 { color: #0A910F; }
.rwG__testimonials .rwG__mt-block { text-align: right; }
.rwG__testimonials .rwG__mt-block-img { text-align: left; }
.rwG__testimonials .rwG__mt-block:nth-child(2) { text-align: left; }
.rwG__testimonials .rwG__mt-block:nth-child(2) .rwG__mt-block-img { text-align: right; }

.rwG__dept { background-color: #fbfbfb; text-align: center; padding: 100px 0px; position: relative; }
.rwG__dept-title { font-family: Proxima Nova;
font-size: 25px;
line-height: 28px;
text-align: center; color: #4f4f4f; }
.rwG__dept-highlight { font-family: Proxima Nova;
font-size: 31.25px;
line-height: 38px;
text-align: center;
color: #F2A81F; padding-top: 25px; padding-bottom: 12px; padding-left: 30px; }

.rwG__dept-main { display: flex; align-items: flex-start; justify-content: space-around; width: 80%; margin: auto; text-align: left;  }
.rwG__dept-indiv { font-family: Proxima Nova;
font-size: 12.8px;
line-height: 24px; color: #4f4f4f; width: 23.5%; }
.rwG__dept-indiv img { margin: auto; text-align: center; }
.rwG__dept-indiv:nth-child(2), .rwG__dept-indiv:nth-child(3) { padding-top: 110px; }
.rwG__dept-indiv:nth-child(2) b, .rwG__dept-indiv:nth-child(3) b { text-align: center; padding-right: 15px; }
.rwG__dept-indiv b { display: block; font-size: 19px; padding-top: 20px; padding-bottom: 10px; }

.rwG__dept-indiv { position: relative; }
.dept-svg { position: absolute; right: -225px; top: -30px; }
.dev { right: 15px; top: -20px; }
.hrevf { left: 20px; top: -20px;  }
.brandcm { left: -195px; }

.dept-svg {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  animation: dash 5s linear 1;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.rwG__close { background: linear-gradient(180deg, #3E2CB3 27.8%, #54005B 100%), #008ED4; padding: 100px 0px; text-align: center; }
.rwG__close-subtitle { font-family: Proxima Nova;
font-size: 16px;
line-height: 19px;
/* identical to box height */

text-align: center;
letter-spacing: 0.1em; color: white; }
.rwG__close-title { font-family: Proxima Nova;
font-size: 48.83px;
line-height: 49px; color: white; padding-top: 10px; }
.rwG__close-button { width: 282px; margin: auto; margin-top: 30px; ; background: #FBFBFB;
border: 1px solid #FFFFFF;
box-sizing: border-box;
border-radius: 4px; padding: 22px 5px; font-family: Proxima Nova;
font-size: 20px;
line-height: 24px;
text-align: center;
letter-spacing: 0.1em; color: #54005B; }
.rwG__close-button span { color: #54005B; background: linear-gradient(180deg, #3E2CB3 27.8%, #54005B 100%), #008ED4; -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

-moz-background-clip: text;
  -moz-text-fill-color: transparent;

background-clip: text;
text-fill-color: transparent;}


.rwG__footer { background: #f2f2f2; margin: 0px; display: flex; justify-content: space-around; padding: 35px 0px; align-items: center; }
.rwG__footer-ux { color: #828282; font-family: Proxima Nova;
font-size: 14px;
line-height: 25px;
/* or 179% */
display: flex;
align-items: center;
letter-spacing: 0.05em; }
.rwG__footer-logos a { margin-left: 20px;  }

/* utility */
.next-state {
}
strong {
  font-weight: 600;
}

em {
  font-style: italic;
}

.pl-32 {
  padding-left: 32px;
}

@media screen and (max-width: 1050px) {
.main__spiel { width: 75%; line-height: 40px; }
.position { width: 70%; }
}

@media screen and (max-width: 840px) {
.main__image { width: 75%; }
}

@media screen and (max-width: 450px) {
.main__spiel { font-size: 17px; line-height: 35px; }
.position__container, .position__text { line-height: 28px; }
}
